.blog-container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}

.icon {
    width: 40px;
    height: auto;
}

.blog-content {
    display: flex;
    flex-wrap: wrap;
}

.blog-image-container,
.blog-text-container {
    width: 100%;
}

.blog-image-container img {
    width: 100%;
    height: auto;
    transition: opacity 1s ease;
}

.blog-cont-img:hover img {
    opacity: 0.5;
}

.blog-text-container {
    padding: 1rem;
}

.blog-text-container h1 {
    font-size: 2rem;
}

.blog-text-container p {
    font-size: 1rem;
    color: #7E7C7C;
}

@media (min-width: 768px) {
    .blog-container {
        margin: 0 2.5rem;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-image-container img {
        transform: scale(1);
    }

    .blog-text-container {
        padding: 2rem;
    }

    .blog-text-container h1 {
        font-size: 2.5rem;
    }

    .blog-text-container p {
        font-size: 1.125rem;
    }
}

@media (min-width: 1200px) {
    .blog-container {
        margin: 0 10rem;
    }

    .blog-content {
        flex-direction: row;
    }

    .blog-text-container {
        padding: 5rem;
    }
}

@media (max-width: 767px) {
    .blog-image-container img {
        transform: scale(0.8);
    }

    .blog-text-container {
        padding: 1rem;
    }
}

@media (max-width: 575px) {
    .blog-image-container {
        display: none;
    }

    .blog-text-container {
        padding: 1rem;
    }
}
