
.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section-title h1{
    font-size: 35px;
    font-weight: 700;
    color: #A6C8EB;
}

.section-line {
    width: 192px;
    height: 1px;
    background-color: #A6C8EB;
}