/* Slider.css */
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev,
.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    border: 1px solid #A6C8EB; /* Blue border color */
    padding: 30px;
    border-radius: 50%;
    margin: 0px -10px;
    color: #9A9A9A  !important; /* Blue arrow color */
    background-color: transparent; /* Ensure background is not overriding color */
}

.hoverIncrease {
    padding: 20px;
    text-align: center;
    display: grid;
    justify-content: center;
    transition-duration: .3s;
}

.hoverIncrease img {
    height: 220px;
}

.hoverIncrease .content {
    margin-top: 38px;
}

.hoverIncrease .content h1 {
    font-size: 20px;
    font-weight: 500;
}

.hoverIncrease .content h2 {
    font-size: 18px;
    font-weight: 700;
    color: #1A5DA1; /* Ensure this is the correct blue */
}

.price-underline {
    width: 57px;
    height: 1px;
    background-color: black;
    margin: 0 auto;
}

.select-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #616161;
    font-weight: 700;
    margin-top: 16px;
}

.hoverIncrease:hover {
    transform: scale(1.1);
}
